<!-- employee_management/templates/profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- Profile Image -->
            <div class="mb-4">
                <img src="https://img.icons8.com/ios/452/user.png" alt="Person Icon" class="img-fluid rounded-circle" width="150">
            </div>

            <!-- Username -->
            <h2>Welcome, {{ username }}!</h2>

            <!-- Change Password Link -->
            <div class="mt-3">
                <a href="{% url 'change_password' %}" class="btn btn-primary">Change Password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
